<div class="col-md-3 mb-3 list-menu" th:fragment="sidenav">
  <list-group>
    <a href="" class="list-group-item list-group-item-action active">
      <ion-icon name="apps-outline"></ion-icon> Dashboard
      <span></span>
    </a>
    <a href="custom_sms.html" class="list-group-item list-group-item-action">
      <ion-icon name="mail-outline"></ion-icon> Kirim SMS
      <span></span>
    </a>
    <a href="report.html" class="list-group-item list-group-item-action">
      <ion-icon name="mail-unread-outline"></ion-icon> Laporan SMS
      <span class="badge badge-primary badge-pill float-right">10</span>
    </a>
    <a href="inbox.html" class="list-group-item list-group-item-action">
      <ion-icon name="mail-unread-outline"></ion-icon> Pesan Masuk
      <span class="badge badge-primary badge-pill float-right">10</span>
    </a>
    <a href="" class="list-group-item list-group-item-action">
      <ion-icon name="mail-outline"></ion-icon> Kirim Pemberitahuan
      <span class="float-right"></span>
    </a>
    <a href="master_wp.html" class="list-group-item list-group-item-action">
      <ion-icon name="people-outline"></ion-icon> Master WP
      <span></span>
    </a>
    <a href="" class="list-group-item list-group-item-action">
      <ion-icon name="options-outline"></ion-icon> Setting
      <span></span>
    </a>
  </list-group>
</div>